<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
    </style>
    <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
    <!-- Using via Google Web Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- https://tailwindcss.com/docs/installation -->
    <!-- Using Tailwind via CDN -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

    <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@next"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
</head>

<body style="font-family: 'Kanit', sans-serif;">
    <div class="py-20 h-screen bg-gray-300 px-2" id="app">
        <div
            class="max-w-md mx-auto bg-white bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 rounded-lg overflow-hidden md:max-w-sm py-5">
            <div class="flex justify-center items-center w-full h-full">
                <div class="flex flex-col items-center"> <img v-bind:src="imageurl" width="100"
                        class="rounded-full"><br>
                    <h1 class="text-xl font-medium text-white">{{firstname}} {{lastname}}</h1>
                    <span class="text-sm text-white">My age : {{age}}, Birthday : {{birthday}}</span>
                    <span class="text-sm text-white">{{caption}}</span>

                    <form @submit.prevent="checkForm">
                        <p class="pt-3 text-xl">Sign Up</p>
                        <div>
                            <label for="email" class="inline">Email <sup>*</sup> </label>
                            <input type="text" id="email" v-model="email" name="email" class="inline form-control" />
                            <sup v-if="errors" v-for="errorEmail in errors.email" class="text-red-900">{{errorEmail}}</sup>
                        </div>
                        <div class="py-2">
                            <label for="username">Username <sup>*</sup></label>
                            <input type="text" id="username" v-model="username" name="username" class="form-control" />
                            <sup v-if="errors" v-for="errorUsername in errors.username" class="text-red-900">{{errorUsername}}</sup>
                        </div>
                        <div class="py-2">
                            <label for="password" class="inline">Password <sup>*</sup> </label>
                            <input type='password' id="password" v-model="password" name="password"
                                class="inline form-control" />
                                <sup v-if="errors" v-for="errorPassword in errors.password" class="text-red-900">{{errorPassword}}</sup>
                        </div>
                        <div class="py-2">
                            <label for="confirmPassword" class="inline">Confirm password <sup>*</sup> </label>
                            <input type='password' id="confirmPassword" v-model="confirmPassword" name="confirmPassword"
                                class="inline form-control" />
                                <sup v-if="errors" v-for="errorConfirmPassword in errors.confirmPassword" class="text-red-900">{{errorConfirmPassword}}</sup>
                        </div>
                        <input type="submit" value="Submit" class="btn btn-primary btn-sm float-right mt-3">
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script src="./myprofile.js"></script>
</body>

</html>